<html>
    <body>
        <form action=/services/upload method=post enctype=multipart/form-data >
            dockerfile: <input type=file name=dockerfile />
            image name: <input type=text name=name />
            image tag: <input type=text name=tag />
            <input type=submit value=create />
        </form>
    </body>
</html>